body {

    margin: 0;

}

header {
    background-color: blue;
    height: 100px;
    overflow: auto;


}

h1 {

    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.container {
    position: absolute;
    left: 300px;
    top: 150px;
    padding: 5px;
    margin: 5px;
  
      
}
      

.top-box {

    display: flex;
    justify-content: center;
    width: 1200px;
    height: 200px;
    border: 1px solid black;


}


h3 {

    font-size: 32px;
    display: flex;
    justify-content: flex-start;
    margin-top: 250px;
}

.sidebar {

    margin-left: 10px;
}

.sidebar input {
    width: 200px;
    padding: 10px;
    position: relative;
    bottom: 15px;
}

.sidebar button {
    margin-top: 5px;
    padding: 10px;
    font-size: 20px;

}

.sidebar h2 {

    font-size: 32px;
}

.row {

    display: flex;
    justify-content: center;

}

.column {

    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}