body {

    margin: 0;

}

header {
    background-color: blue;
    height: 100px;
    overflow: auto;


}

h1 {

    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.card {

    margin-left: 300px;
    font-size: 18px;
    height: 200px;

}

#current-weather {

    display: flex;
    justify-content: center;
    width: 1200px;
    height: 200px;
    border: 1px solid black;


}

.sidebar {
    height: 100%;
    width: 150px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    margin-top: 55px;
    
}

.sidebar input {
    width: 150px;
    padding: 10px;
    position: relative;
    bottom: 15px;
}

.sidebar button {
    margin-top: 5px;
    padding: 10px;
    font-size: 20px;
    
}

.sidebar h2 {
    
    font-size: 32px;
}

.five-day-forecast {
    
    display: flex;
    justify-content: center;
    height: 100px;
    
}
h3 {

    font-size: 32px;


}